<div class="page">
    <div class="heading">Products</div>
    <!-- 
    <button class="toggle-form-button" (click)="toggleFormView()" >Add +</button>
    <div class="new-hero-container" [ngClass]="{show: showNewForm}" >
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" #heroName />
        <label for="new-power">Superpower: </label>
        <input id="new-power" #heroSuperpower />
    
        <button class="add-button" (click)="add(heroName.value, heroSuperpower.value); heroName.value=''; heroSuperpower.value='';">
        Add hero
        </button>
    </div> -->

    <div class="products">
        <bm-product-card 
            *ngFor="let product of products | async" 
            [title]="product.name" 
            [product]="product"
        >
        </bm-product-card>
    </div>
</div>
