@import "src/app/shared/styles/variables";

.page {
    margin-top: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: $primary-color;
    margin: 12px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// .form-input-container {
//     // width: 100%;
// }

.form-input-container label {
    display: block;
    margin: 4px 0;
}

.form-input-container input {
    padding: 4px;
}

.form-input-container button {
    width: max-content;
    padding: 8px;
    font-weight: bold;
    background-color: $primary-color;
    color: white;
}

input {
    padding: .5rem;
    margin: .2rem 0;
    box-shadow: none;
    border: 1px solid $light-border;
    border-radius: 5px;
}

button {
    border: none; 
    box-shadow: none; 
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    filter: saturate(0.2);
}

button:disabled, button[disabled] {
    background-color: darkgray !important;
    cursor: not-allowed;
}

.error {
    text-transform: uppercase;
    color: darkred;
    text-align: center;
    font-size: small;
    margin: 4px 0;
}
