/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "app/shared/styles/variables";

body {
    background-color: $background-color;
    font-family: $default-font;
    color: $default-font-color;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
