@import "../../styles/classes.scss";
@import "../../styles/variables.scss";

.card {
    padding: 16px;
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 600px;
    transition: all 0.1s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.card:hover {
    transform: scale(1.008);
    box-shadow: rgba(43, 43, 48, 0.2) 0px 7px 29px 0px;
}

.card-left {
    width: 30%;
}

.card-left img {
    width: 120px;
}

.card-right {
    width: 100%;
}

.card-row {
    padding: 4px;    
    display: flex;
    align-items: center;
}
.input-row {
    display: flex;
    align-items: center;
}
.card-row-head {
    font-weight: bold;
    font-size: large;
    white-space: nowrap;
    margin-right: 8px;
}

.badge {
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    padding: 6px 12px;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 4px 0;
}

.small {
    font-size: small;
 }

.action {
    text-transform: uppercase;
    width: max-content;
    white-space: nowrap;
    background: $primary-color;
    color: white;
    border-radius: 5px;
    font-size: large;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 6px 16px;
}
